
.img{
    width: 100%;
}

body{
    background-color: #fcd5ce;
}

.main{
    text-align: center;
    margin-top: 50px;
}
/*fonts 
font-family: 'Atma';
font-family: 'Monsieur-La-Doulaise';*/

h1{
   font-size: 70px;
}
